<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.c0l0rbalance.overhere</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>5FC19D48-072D-4E3C-B8B8-CD03405DC8E4</key>
		<array/>
		<key>D05A0095-1DB7-4B74-9FD2-415C6AB3EE66</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5FC19D48-072D-4E3C-B8B8-CD03405DC8E4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Sam F</string>
	<key>description</key>
	<string>Find my iPhone!</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>OverHere</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>import sys
from workflow import Workflow3, ICON_WEB, web
from pyicloud import PyiCloudService


api = PyiCloudService('sam.finton@gmail.com', 'qZU7D&amp;2fkd')


chosen_device = sys.argv[1]

# api.devices[chosen_device].play_sound()
print chosen_device</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5FC19D48-072D-4E3C-B8B8-CD03405DC8E4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>overhere</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching for your devices....</string>
				<key>script</key>
				<string>import sys
from workflow import Workflow3, ICON_WEB, web
from pyicloud import PyiCloudService


api = PyiCloudService('sam.finton@gmail.com', 'qZU7D&amp;2fkd')

def main(wf):
    if api.requires_2sa:
        import click

        trusted_devices = api.trusted_devices
        for i, trusted_device in enumerate(trusted_devices):
            print "  %s: %s" % (i, trusted_device.get('deviceName',
            "SMS to %s" % trusted_device.get('phoneNumber')))

        trusted_device = click.prompt('Which device would you like to use?', default=0)
        trusted_device = trusted_devices[trusted_device]
        if not api.send_verification_code(trusted_device):
            print "Failed to send verification code"
            sys.exit(1)

        code = click.prompt('Please enter validation code')
        if not api.validate_verification_code(trusted_device, code):
            print "Failed to verify verification code"
            sys.exit(1)

    device_list = api.devices._devices

    for device_id, device in device_list.iteritems():
        device_name = str(device).split(":",1)[1]
        device_hardware = str(device).split(":")[0]
        it = wf.add_item(title= device_name,
        subtitle= device_hardware, valid="Yes",
        arg= device_id)
    wf.send_feedback()


if __name__ == "__main__":
    wf = Workflow3()
    sys.exit(wf.run(main))
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Play a sound quickly using iCloud</string>
				<key>title</key>
				<string>Play a sound on an iCloud device</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D05A0095-1DB7-4B74-9FD2-415C6AB3EE66</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>5FC19D48-072D-4E3C-B8B8-CD03405DC8E4</key>
		<dict>
			<key>xpos</key>
			<integer>600</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>D05A0095-1DB7-4B74-9FD2-415C6AB3EE66</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
